@model HaverGroupProject.ViewModels.EmployeeAdminVM

<partial name="_ViewHeading" />

<hr />

<div class="shadow-lg p-4 mb-5 bg-body-tertiary rounded">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <input type="hidden" asp-for="Active" />
                <div class="form-group mb-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" autofocus />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="UserRoles" class="control-label mb-2"></label>
                    <div class="border p-3 rounded bg-light">
                        <div class="row g-2">
                            @{
                                int cnt = 0;
                                List<HaverGroupProject.ViewModels.RoleVM> roles = ViewBag.Roles;
                                foreach (var role in roles)
                                {
                                    <div class="col-md-4 col-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox"
                                                   id="@role.RoleName-CheckBox"
                                                   name="selectedRoles"
                                                   value="@role.RoleName"
                                            @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                            <label class="form-check-label" for="@role.RoleName-CheckBox">@role.RoleName</label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-4">
            <div class="btn-group" role="group">
                <!-- Create Button -->
                <button type="submit" class="btn btn-primary btn-sm py-1 px-2">
                    <i class="bi bi-plus-circle-fill me-1" style="font-size: 0.8rem;"></i>
                    <span style="font-size: 0.8rem;">Create</span>
                </button>

                <!-- Back Button -->
                <a asp-action="Index" class="btn btn-success btn-sm py-1 px-2">
                    <i class="bi bi-arrow-left me-1" style="font-size: 0.8rem;"></i>
                    <span style="font-size: 0.8rem;">Back to List</span>
                </a>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}