@model IEnumerable<HaverGroupProject.Models.MachineDescription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamePlateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameplateRecieved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstalledMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePartsSpareMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseFrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirSeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoatingLining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disassembly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePlateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameplateRecieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstalledMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SparePartsSpareMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseFrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirSeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatingLining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disassembly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
