


 @model IEnumerable<HaverGroupProject.Models.OperationsSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Operations Schedule</h1>

<p>
    <a asp-action="Step1" class="btn btn-success" style="font-size: 12px;">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover ">
    <thead class=" table-col" style="font-size: 0.86rem;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrdNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtSalesOrdNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engineer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineDescription.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageReleaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KickoffMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseApprovalDrawing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationsScheduleVendors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PONum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PODueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesOrdNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtSalesOrdNum)
                </td>
                <td>
                    @(item.Customer != null ? item.Customer.CustomerName : "N/A")
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Engineer.EngSummary)
                </td>
                <td>
                    @(item.MachineDescription != null ? item.MachineDescription.DescriptionSummary : "N/A")
                </td>
                <td>
                    @(item.MachineDescription != null ? item.MachineDescription.SerialNumber : "N/A")
                </td>
                <td>
                    @(item.PackageReleaseName ?? "N/A")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KickoffMeeting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseApprovalDrawing)
                </td>
                <td>
                    @{
                        if (item.OperationsScheduleVendors != null && item.OperationsScheduleVendors.Any())
                        {
                            int vendorCount = item.OperationsScheduleVendors.Count;
                            string firstVendor = item.OperationsScheduleVendors.FirstOrDefault()?.Vendor?.VendorName ?? "Unknown Vendor";

                            if (vendorCount > 1)
                            {
                                string vendorList = "";
                                var v = item.OperationsScheduleVendors.ToList();
                                for (int i = 1; i < vendorCount; i++)
                                {
                                    vendorList += (v[i]?.Vendor?.VendorName ?? "Unknown Vendor") + " <br />";
                                }

                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseVendor@(item.ID)"
                                   aria-expanded="false" aria-controls="collapseVendor@(item.ID)">
                                    @firstVendor <span class="badge bg-info">@vendorCount</span>
                                </a>
                                <div class="collapse" id="collapseVendor@(item.ID)">
                                    @Html.Raw(vendorList)
                                </div>
                            }
                            else
                            {
                                @firstVendor
                            }
                        }
                        else
                        {
                            @:No Vendors
                        }
                    }
                </td>
                <td>
                    @(item.PONum ?? "N/A")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PODueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
